<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>

    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-sm-6">
                <h1 class="text-primary">User Data</h1>
                <table class="table table-striped  text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <div class="results">
                        {{#each data}}
                        <tbody>
                            <tr>
                                <td class="text-info">{{_id}}</td>
                                <td>{{first_name}}</td>
                                <td>{{last_name}}</td>
                                <td>{{email}}</td>
                            </tr>
                        </tbody>
                        {{/each}}
                    </div>
                </table>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <h2 class="text-primary">ADD New User</h2>
                <form action="/api/users" method="POST" class="form-group">
                    <div class="text-secondary font-weight-bold"> First name: </div><input type="text"
                        name="first_name" placeholder="First Name" class="form-control" required />
                    <div class="text-secondary font-weight-bold"> Last name:</div> <input type="text"
                        name="last_name" placeholder="Last Name" class="form-control" required />
                    <div class="text-secondary font-weight-bold"> email: </div><input type="email"
                        name="email" placeholder="Email" class="form-control" required />
                    <br>
                    <button class="form-control btn-success mt-2 btn" type="submit">ADD USER</button>
                </form>

                <hr class="mt-4 mb-4" />

                <h2 class="text-primary">Update User</h2>
                <form action="/api/users/update" method="post" class="form-group">
                    <div class=" text-secondary font-weight-bold"> ID:</div> <input type="text" class="form-control" name="id" placeholder="ID" required/>
                    <div class=" text-secondary font-weight-bold"> First Name:</div> <input type="text" class="form-control" name="first_name" placeholder="First Name" required/>
                    <div class=" text-secondary font-weight-bold">Last Name: </div><input type="text" class="form-control" name="last_name" placeholder="Last Name" required />
                    <div class=" text-secondary font-weight-bold">Email: </div><input type="Email" class="form-control" name="email" placeholder="Email" required/>
                    <br>
                    <button class="form-control btn-warning mt-2 btn" type="submit">Updtae User</button>
                </form>

                <hr class="mt-4 mb-4">

                <h2 class="text-primary">Delete User</h2>
                <form action="/api/users/delete" method="post" class="form-group mb-5">
                        <div class=" text-secondary font-weight-bold"> ID:</div><input type="text" class="form-control" name="id" placeholder="ID" required/>
                        <button  class="form-control btn-danger mt-2 btn" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>